awesome-slugify==1.6.5
colorclass==1.2.0
Django==1.8.3
django-common-helpers==0.7.0
django-cors-headers==1.1.0
-e git+https://github.com/Tivix/django-cron.git@3e1eb09616c4830cc3623d71f40d61c7e7b9613b#egg=django_cron-master
django-solo==1.1.0
djangorestframework==3.1.3
formats==0.1.1
PyYAML==3.11
regex==2015.6.24
requests==2.7.0
six==1.9.0
tortilla==0.4.1
Unidecode==0.4.18
voluptuous==0.8.7
